html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block
}

body {
	font-family: Tahoma, Helvetica, Arial, 'Microsoft YaHei', "微软雅黑",
		sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ) {
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

a {
	background-color: transparent
}

a:active, a:hover {
	outline: 0
}

#map {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	overflow: hidden;
	font-family: "微软雅黑";
}

.close {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.segment-header {
	padding-bottom: 0px;
	margin: 20px 0 20px;
	border-bottom: 1px solid #eee;
}

.segment-header h4 {
	display: inline-block;
	margin-bottom: 0px;
	padding-bottom: 5px;
	border-bottom: 2px solid #5fb611;
}

.bs-box {
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 15px 0;
	padding: 39px 19px 14px;
	position: relative;
}

.bs-box:after {
	content: "";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	position: absolute;
	text-transform: uppercase;
	top: -1px;
	left: -1px;
	border: 1px solid #ddd;
	border-radius: 4px 0;
	padding: 3px 7px;
	color: #555;
	background-color: #f1f1f1;
	text-shadow: #fff 1px 1px 0;
}

.bs-box .toolbtn {
	position: absolute;
	top: 3px;
	right: 8px;
	text-decoration: none;
	cursor: pointer;
}

.bs-panel {
	position: relative;
    padding: 45px 15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.bs-panel:after {
    content: "属性：" !important;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.e-record-type:after {
	content: "字段结构表";
}

.e-data:after {
	content: "数据表";
}

.e-record-type-tree:after {
	content: "字段结构目录";
}

.e-data-tree:after {
	content: "数据目录";
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar.active, .progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
	background-color: #5cb85c;
}

.progress-bar-striped, .progress-striped .progress-bar {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bs-docs-nav {
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.navbar-brand {
	font-size: 21px;
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
	font-weight: 500;
	color: #563d7c;
}

.bs-docs-nav .navbar-nav>.active>a, .bs-docs-nav .navbar-nav>.active>a:hover,
	.bs-docs-nav .navbar-nav>li>a:hover {
	color: #463265;
	background-color: #f9f9f9;
}

.bs-docs-sidenav {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bs-docs-sidebar {
	margin-right: -80px;
}

.bs-docs-sidebar .nav>li>a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #767676
}

.bs-docs-sidebar .nav>li>a:focus, .bs-docs-sidebar .nav>li>a:hover {
	padding-left: 19px;
	color: #563d7c;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #563d7c
}

.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a,
	.bs-docs-sidebar .nav>.active>a {
	padding-left: 18px;
	font-weight: 700;
	color: #563d7c;
	background-color: transparent;
	border-left: 2px solid #563d7c
}

.bs-docs-sidebar .nav .nav {
	display: none;
	padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav>li>a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a:focus, .bs-docs-sidebar .nav .nav>li>a:hover
	{
	padding-left: 29px
}

.bs-docs-sidebar .nav .nav>.active:focus>a, .bs-docs-sidebar .nav .nav>.active:hover>a,
	.bs-docs-sidebar .nav .nav>.active>a {
	padding-left: 28px;
	font-weight: 500
}

@media ( min-width : 992px) {
	.bs-docs-sidebar .nav>.active>ul {
		display: block
	}
	.bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
		width: 213px
	}
	.bs-docs-sidebar.affix {
		position: fixed;
		top: 20px
	}
	.bs-docs-sidebar.affix-bottom {
		position: absolute
	}
	.bs-docs-sidebar.affix .bs-docs-sidenav, .bs-docs-sidebar.affix-bottom .bs-docs-sidenav
		{
		margin-top: 0;
		margin-bottom: 0
	}
}

@media ( min-width : 1200px) {
	.bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
		width: 263px
	}
}

.back-to-top:hover, .move-to-bottom:hover {
	color: #563d7c;
	text-decoration: none;
}

.back-to-top, .move-to-bottom {
	display: block;
	padding: 4px 10px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #999;
}

.move-to-bottom {
	margin-top: 0;
}

.bs-docs-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #767676;
	text-align: center;
	border-top: 1px solid #e5e5e5
}

.bs-docs-footer-links {
	padding-left: 0;
	margin-top: 20px
}

.bs-docs-footer-links li {
	display: inline;
	padding: 0 2px
}

.bs-docs-footer-links li:first-child {
	padding-left: 0
}

@media ( min-width : 768px) {
	.bs-docs-footer p {
		margin-bottom: 0
	}
}
/*     background-color: rgba(255, 255, 255, 0.8); */
 
.leaflet-bottom .leaflet-control-scale {
    padding: 10px 12px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    background: #f8f8f9;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.leaflet-control-scale-line {
    height: 7px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
}
.leaflet-control-scale-line:not(:first-child) {
	box-shadow: none;
}
.leaflet-control-scale-line .scale-label {
	text-shadow: none;
    margin-top: -10px;
    position: absolute;
}
.leaflet-control-scale-line:not(:first-child) .scale-label {
	margin-top: -1px;
}